{% extends 'shopindex.html' %}
{% block body %}

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="viewagencybysearch">SEARCH AGENCY AND REQUEST</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="requeststatus_shop">VIEWVREQUEST STATUS</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/">LOGOUT</a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
{% endblock %}
