<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="register" method="post">
<table width="500" border="2">
  <tr>
    <th width="229" scope="col">First Name</th>
    <th width="253" scope="col"><label>
      <input type="text" name="textfield" />
    </label></th>
  </tr>
  <tr>
    <th scope="col">Last Name </th>
    <th scope="col"><input type="text" name="textfield7" /></th>
  </tr>

  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield2" /></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield9" /></td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><input type="text" name="textfield10" /></td>
  </tr>
  <tr>
    <td>phone</td>
    <td><input type="text" name="textfield3" /></td>
  </tr>

  <tr>
    <td>email</td>
    <td><input type="text" name="textfield4" /></td>
  </tr>

  <tr>
    <td>username</td>
    <td><input type="text" name="textfield5" /></td>
  </tr>
  
  <tr>
    <td>password</td>
    <td><input type="text" name="textfield6" /></td>
  </tr>
  <tr>
    <td colspan="2"><label>
      <div align="center">
        <input type="submit" name="Submit" value="ADD" />
        </div>
    </label></td>
  </tr>
</table>
</form>
</body>
</html>
